BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "num1[3]" SITE "N2" ;
LOCATE COMP "num1[2]" SITE "P1" ;
LOCATE COMP "num1[1]" SITE "M3" ;
LOCATE COMP "num1[0]" SITE "N1" ;
LOCATE COMP "res[0]" SITE "H11" ;
LOCATE COMP "res[2]" SITE "J11" ;
LOCATE COMP "res[1]" SITE "J13" ;
LOCATE COMP "res[3]" SITE "L12" ;
LOCATE COMP "res[4]" SITE "K11" ;
